/* Thiết lập video như làm nền 
*/
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* Giảm độ phủ để giảm kích thước tổng thể của video */
    opacity: 0.8;
}